/* General setup */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 1.5;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'my-serif';
  src: url('fonts/RobotoSlab-Regular.ttf')
}

@font-face {
  font-family: 'my-sans-serif';
  src: url('fonts/OpenSans-Regular.ttf');
}

html {
  font-family: my-serif;
  font-size: 10px;
}

h1 {
  font-size: 6em;
  text-align: center;
}

h2 {
  font-size: 4em;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .2em;
}
p, ul, ol {
  font-size: 2em;
}

body {
  letter-spacing: .1em;
  word-spacing: .4em;
}

section h2 + p {
  text-indent: 1em;
}

a {
  color: #a66;
  text-decoration: underline;
  outline: none;
}

a:hover, a:focus {
  color: #955;
  text-decoration: none;
}

a:visited {
  color: #766;
}

a:active {
  color: #722;
}

a[href*=http]::after {
  content: '↗'
}

ul, ol {
  list-style-type: square;
}

nav li {
  border: #a66 solid .1em;
  margin: 1em;
  padding: 1em;
  list-style-type: none;
  text-align: center;
}